.intro {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.input {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
}

/* Container for the Pokémon cards */
.pokemonHomeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the row */
  gap: 10px; /* Optional: spacing between cards */
  max-width: 100%;
  margin-top: 20px;
}
